@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Secular+One&display=swap');
@import url(1°_personagem.css);
@import url(2°_menu.css);

:root {
    --font1: 'Rubik', sans-serif;
    --font2: 'Secular One', sans-serif;
    --preto: #000000;
    --branco: #ffffff;
    --efeito-botao: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    overflow: hidden;
    background-color: var(--preto);
}